@font-face {
  font-family: bw;
  src: url(./Assets/Fonts/BwGradualDEMO-Regular.ttf);
}
@font-face {
  font-family: aeonik;
  src: url(./Assets/Fonts/fonnts.com-Aeonik_Regular.ttf);
}
:root {
  --pri: #040d12;
  --pri2: #6f4e37;
  --sec: #93b1a6;
  --sec1: #fed8b1;
  --tri: #183d3d;
  --tri1: #5c8374;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  color: #fff;
}

html,
body {
  font-family: bw;
  width: 100%;
  height: 100%;
  background-color: var(--pri);
}

main {
  width: 100%;
  background-color: var(--pri);
  min-height: 100%;
}
main .allElems {
  padding: 2rem 2rem;
  gap: 1rem;
  height: 100vh;
  width: 100%;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
}
main .allElems .elem {
  height: 350px;
  width: 270px;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  transition: cubic-bezier(0.19, 1, 0.22, 1);
  border: 0.1px solid #d5d5d5;
  cursor: pointer;
}
main .allElems .elem h1 {
  position: absolute;
  right: 5%;
  background-color: rgba(11, 11, 11, 0.6549019608);
  color: var(--sec);
  border-radius: 0.2rem;
  padding: 0.2rem 0.3rem;
  font-size: 1.2rem;
  font-weight: 300;
  bottom: 5%;
}
main .allElems .elem img {
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
main .allElems .elem:active {
  scale: 0.98;
}
main .fullElem {
  display: none;
  position: absolute;
  background-color: var(--pri);
  height: 100vh;
  padding: 2rem 2rem;
  width: 100%;
}
main .fullElem h1 {
  font-size: 1.5rem;
  color: var(--sec);
}
main .fullElem .back {
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-family: aeonik;
  background: linear-gradient(90deg, #ff0404, #d5d5d5);
  color: #040d12;
  font-size: 1rem;
  font-weight: 900;
  padding: 0.58rem 2rem;
  border-radius: 9999px;
  top: 5%;
  right: 5%;
  position: absolute;
  z-index: 9999999;
  transition: all 0.5s ease;
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
main .fullElem .back:active {
  scale: 0.7;
}

@media (max-width: 550px) {
  main .allElems {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1rem 0.3rem;
    gap: 0.3rem;
  }
  main .allElems .elem {
    gap: 0;
    width: 170px;
    height: 200px;
  }
  main .allElems .elem h1 {
    font-size: 0.87rem;
  }
}