@font-face {
  font-family: bw;
  src: url(./Assets/Fonts/BwGradualDEMO-Regular.ttf);
}
@font-face {
  font-family: aeonik;
  src: url(./Assets/Fonts/fonnts.com-Aeonik_Regular.ttf);
}
:root {
  --pri: #040d12;
  --pri2: #6f4e37;
  --sec: #93b1a6;
  --sec1: #fed8b1;
  --tri: #183d3d;
  --tri1: #5c8374;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  color: #fff;
}

html,
body {
  font-family: bw;
  width: 100%;
  height: 100%;
  background-color: var(--pri);
}

main {
  width: 100%;
  background-color: var(--pri);
  min-height: 100%;
}
main .allElems {
  padding: 2rem 2rem;
  gap: 1rem;
  height: 100vh;
  width: 100%;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
}
main .allElems .elem {
  height: 350px;
  width: 270px;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  transition: cubic-bezier(0.19, 1, 0.22, 1);
  border: 0.1px solid #d5d5d5;
  cursor: pointer;
}
main .allElems .elem h1 {
  position: absolute;
  right: 5%;
  background-color: rgba(11, 11, 11, 0.6549019608);
  color: var(--sec);
  border-radius: 0.2rem;
  padding: 0.2rem 0.3rem;
  font-size: 1.2rem;
  font-weight: 300;
  bottom: 5%;
}
main .allElems .elem img {
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
main .allElems .elem:active {
  scale: 0.98;
}
main .fullElem {
  display: none;
  position: absolute;
  background-color: var(--pri);
  height: 100vh;
  padding: 2rem 2rem;
  width: 100%;
}
main .fullElem h1 {
  font-size: 1.5rem;
  color: var(--sec);
}
main .fullElem .back {
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-family: aeonik;
  background: linear-gradient(90deg, #ff0404, #d5d5d5);
  color: #040d12;
  font-size: 1rem;
  font-weight: 900;
  padding: 0.58rem 2rem;
  border-radius: 9999px;
  top: 5%;
  right: 5%;
  position: absolute;
  z-index: 9999999;
  transition: all 0.5s ease;
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
main .fullElem .back:active {
  scale: 0.7;
}
main .todo-fullPage {
  display: block;
}
main .todo-fullPage h1 {
  color: var(--sec1);
  font-size: 2.2rem;
}
main .todo-fullPage .todo-container {
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 93%;
  gap: 1rem;
  width: 100%;
}
main .todo-fullPage .todo-container .todo-form {
  background-color: var(--tri1);
  border-radius: 15px;
  height: 100%;
  width: 37%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  gap: 1rem;
  padding: 2rem 1.5rem;
}
main .todo-fullPage .todo-container .todo-form h3 {
  color: var(--tri);
  font-weight: 100;
  font-size: 1.55rem;
}
main .todo-fullPage .todo-container .todo-form input {
  width: 100%;
  height: 4rem;
  color: var(--tri);
  border: 2px solid var(--tri);
  border-radius: 1rem;
  outline: none;
  padding: 1rem;
  font-family: aeonik;
  font-size: 1.5rem;
}
main .todo-fullPage .todo-container .todo-form textarea {
  width: 100%;
  height: 4rem;
  color: var(--tri);
  border: 2px solid var(--tri);
  border-radius: 0.5rem;
  height: 250px;
  max-height: 300px;
  max-width: 100%;
  outline: none;
  padding: 1rem;
  font-family: aeonik;
  font-size: 1.3rem;
}
main .todo-fullPage .todo-container .todo-form .imp-check {
  height: 2rem;
  margin-left: 1rem;
  display: flex;
  flex-wrap: nowrap;
}
main .todo-fullPage .todo-container .todo-form .imp-check #check {
  height: 100%;
  scale: 2;
  text-align: center;
  justify-content: center;
  align-content: center;
  display: flex;
  margin-right: 1rem;
}
main .todo-fullPage .todo-container .todo-form .imp-check .check {
  text-wrap: nowrap;
  margin-top: 0.4rem;
  color: var(--tri);
  font-size: 1.2rem;
}
main .todo-fullPage .todo-container .todo-form button {
  background-color: var(--sec1);
  cursor: pointer;
  color: var(--pri);
  font-size: 1.3rem;
  height: 3rem;
  border-radius: 0.5rem;
  width: 100%;
  font-family: aeonik;
}
main .todo-fullPage .todo-container .todo-form button:active {
  scale: 0.98;
}
main .todo-fullPage .todo-container .allTask {
  border-radius: 15px;
  width: 62%;
  height: 100%;
  background-color: var(--tri1);
  padding: 1rem;
  overflow: auto;
}
main .todo-fullPage .todo-container .allTask .task {
  border-radius: 1rem;
  padding: 1rem 0.85rem;
  background-color: var(--sec);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom: 0.5rem;
}
main .todo-fullPage .todo-container .allTask .task .task-data {
  width: 80%;
}
main .todo-fullPage .todo-container .allTask .task .task-data h1 {
  color: var(--pri);
  font-size: 1.5rem;
}
main .todo-fullPage .todo-container .allTask .task .task-data h3 {
  font-weight: 100;
  color: var(--pri2);
  font-size: 1.3rem;
}
main .todo-fullPage .todo-container .allTask .task .btn button {
  cursor: pointer;
  border-radius: 0.44rem;
  padding: 0.5rem 0.7rem;
  border: 1px solid var(--tri);
  color: var(--pri);
  background: linear-gradient(90deg, #ff0404, #e38787);
}
main .todo-fullPage .todo-container .allTask .task .btn button:active {
  scale: 0.97;
}

@media (max-width: 550px) {
  main .allElems {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1rem 0.3rem;
    gap: 0.3rem;
  }
  main .allElems .elem {
    gap: 0;
    width: 170px;
    height: 200px;
  }
  main .allElems .elem h1 {
    font-size: 0.87rem;
  }
}
@media (max-width: 550px) {
  main .fullElem .back {
    padding: 0.48rem 0.92rem;
    font-size: 0.78rem;
  }
  main .todo-fullPage {
    padding: 1rem 1.2rem;
  }
  main .todo-fullPage h1 {
    width: 70%;
    font-size: 1.5rem;
  }
  main .todo-fullPage .todo-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  main .todo-fullPage .todo-container .todo-form {
    height: 55%;
    width: 100%;
    padding: 1rem 0.77rem;
  }
  main .todo-fullPage .todo-container .todo-form h3 {
    font-size: 1.2rem;
  }
  main .todo-fullPage .todo-container .todo-form input {
    font-size: 1rem;
    padding: 0.88rem 0.7rem;
  }
  main .todo-fullPage .todo-container .todo-form textarea {
    padding: 0.88rem 0.7rem;
    font-size: 0.88rem;
  }
  main .todo-fullPage .todo-container .todo-form .imp-check {
    margin-top: 0;
  }
  main .todo-fullPage .todo-container .todo-form .imp-check #check {
    scale: 1;
    margin-right: 0.5rem;
  }
  main .todo-fullPage .todo-container .todo-form .imp-check .check {
    font-size: 1rem;
    margin-top: 0;
  }
  main .todo-fullPage .todo-container .todo-form button {
    font-size: 1.1rem;
    padding: 0.5rem 0;
  }
  main .todo-fullPage .todo-container .allTask {
    height: 100%;
    width: 100%;
    gap: 0.3rem;
    display: flex;
  }
  main .todo-fullPage .todo-container .allTask .task {
    flex-direction: column;
    padding: 0.77rem 0.5rem;
    aspect-ratio: 19/2;
    width: 300px;
    border: 1.2px solid var(--tri);
  }
  main .todo-fullPage .todo-container .allTask .task .task-data h1 {
    font-size: 1.37rem;
  }
  main .todo-fullPage .todo-container .allTask .task .task-data h3 {
    font-size: 0.87rem;
  }
  main .todo-fullPage .todo-container .allTask .task .btn button {
    color: var(--pri);
    margin-top: 0.5rem;
  }
}