@font-face {
  font-family: bw;
  src: url(./Assets/Fonts/BwGradualDEMO-Regular.ttf);
}
@font-face {
  font-family: aeonik;
  src: url(./Assets/Fonts/fonnts.com-Aeonik_Regular.ttf);
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  background-color: #111;
  height: 100%;
}
main h1 {
  font-weight: 100;
  font-family: bw;
  font-size: 1.99rem;
  color: white;
}